@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  --primary-font: 'Staatliches', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  padding: 2rem 5rem;
}

i {
  display: block;
}

h1 {
  font-weight: normal;
}

header {
  margin: 0rem 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #eee;
  font-family: var(--primary-font);
}

header i {
  margin-right: 0.5rem;
  color: yellow;
}

.addOrder {
  margin: 2rem 10rem 4rem 10rem;
  background: #eee;
  /* border-radius: 10px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
}

.addOrder div:nth-child(4) {
  grid-column: span 2;
  justify-self: flex-end;
}

.addOrder span {
  font-family: var(--primary-font);
}

.addOrder input {
  padding: 0.25rem 0.5rem 0.15rem 0.5rem;
  border: 1px solid black;
  color: #222;
  font-weight: 550;
}

.addOrder select {
  padding: 0.2rem 0rem 0.2rem 0.2rem;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 550;
  color: #222;
}

.addOrder button {
  color: white;
  background: limegreen;
  border: 1px solid limegreen;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
}

.addOrder button:hover {
  color: white;
  background: #222;
}

.ordersList .head {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  color: white;
  padding: 0.25rem 1rem;
}

.ordersList .item {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  color: white;
  padding: 1rem 1rem;
  margin: 0.25rem 0;
  background: #444;
  grid-row-gap: 1rem;
  /* border-left: 2px solid orange; */
  border-radius: 5px;
  font-size: 0.8rem;
}

.ordersList .item i {
  justify-self: flex-end;
  margin-right: 1rem;
  color: crimson;
  cursor: pointer;
}

.ordersList .item:hover {
  background: #555;
}

.ordersList details {
  grid-column: span 13;
  font-style: italic;
}

.ordersList details summary:focus {
  border: none;
  outline: none;
}

.ordersList details div {
  padding: 0.25rem 0.5rem 0.5rem 0.5rem;
  border-radius: 5px;
}

.text-init {
  color: deepskyblue;
}

.text-pending {
  color: yellow;
}

.text-long {
  color: limegreen;
}

.text-short {
  color: #e15b5b;
}

.text-error {
  color: orange;
}

.msg-success {
  color: lime;
}

.msg-error {
  color: #e15b5b;
}

.order-pending {
  border-left: 2px solid yellow;
}

.order-long {
  border-left: 2px solid limegreen;
}

.order-short {
  border-left: 2px solid #e15b5b;
}

.order-error {
  border-left: 2px solid orange;
}

.order-init {
  border-left: 2px solid deepskyblue;
}
